* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Tahoma, sans-serif;
}
#main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 224, 207, 0.5);
}
.main-header {
  padding: 50px 0;
  background-color: tomato;
  width: 100%;
}
.main-header h1 {
  text-align: center;
}
article {
  width: 80%;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: turquoise;
}
article h3 {
  text-align: center;
  margin-bottom: 10px;
}
